<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/1087/1087830.svg" class="col-lg-8 col-xs-12">
        <button class="btn btn-danger col-lg-8 col-xs-12"name="button" on-click="incrementar" >Cargar datos</button>
        <input  type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">

        <table class ="table table-striped col-lg-8 col-xs-12">
          <thead>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Are</td>
              <td>Espinosa</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Adi</td>
              <td>Espinosa</td>
            </tr>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Espinosa</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: ""
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'indique su login'
                    }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 +1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
